version: "3.8"

services:
  db:
    image: postgres
    container_name: postgres_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: documents
    ports:
      - "5433:5432"

  redis:
    image: redis
    container_name: redis-pd # Имя контейнера
    ports:
      - "6379:6379" # Проброс порта хоста на порт контейнера

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.13.2
    container_name: es01
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - esdata01:/usr/share/elasticsearch/data
    restart: unless-stopped

  minio:
    image: minio/minio
    container_name: minio-pd
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ~/minio/data:/data
    environment:
      MINIO_ROOT_USER: user
      MINIO_ROOT_PASSWORD: password
    command:
      - server
      - /data
      - --console-address
      - :9001

  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 10;
      /usr/bin/mc config host add minio http://minio:9000 user password;
      /usr/bin/mc mb minio/documents;
      /usr/bin/mc anonymous set public minio/documents;
      exit 0;
      "

volumes:
  esdata01:
    driver: local